.App {
  display: grid;
  font-family: 'Roboto Slab', serif;
  grid-template-columns:1fr 5fr;
  grid-template-rows: 1fr ;
  grid-template-areas:  "h h "
                        "n c " ;
                       
}
.dynamicPage{
  grid-area: c;
}